.sections {
  padding: 0;
  background: #fff;
}

#Ground-Truth-Data-Data {
  padding: 0px;
}

#Ground-Truth-Data h1 {
  text-align: left;
  padding-top: 21%;
  padding-left: 17%;
  background-position: 0 16px;
}

#Ground-Truth-Data .section_title_text {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-weight: 500;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  /* background-image: url("/images/background.png"); */
}

#Ground-Truth-Data .section_title_description {
  font-family: 'Raleway', sans-serif;
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: -.19px;
  color: #000;
  opacity: 1;
  padding-top: 19%;
}

#Ground-Truth-Data .compare_images_section {
  width: 100%;
  height: auto;
  padding: 50px 30px 0px 30px;
}



#Ground-Truth-Data .try_now_btn {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 60px;
  font-family: 'Raleway', sans-serif;
}

#Ground-Truth-Data .try_now_btn .btn {
  height: 40px;
  width: 159px;
}

#Ground-Truth-Data .btn {
  background: #3ac280 0 0 no-repeat padding-box;
  border-color: #3ac280;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  color: #fff;
  opacity: 1;
  min-width: 159px;
}

#Ground-Truth-Data .btn:hover {
  color: #000;
}



@media (max-width: 768px) {
  #Ground-Truth-Data .section_title_text {
    padding: 25% 7%;
    text-align: center;
    background-position: 50%;
    font-size: 28px;
    line-height: 32px;
    margin: 5% 0;
  }

  #Ground-Truth-Data .section_title_description {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    padding-top: 20px;
  }

}


/*------------------------------------------------*/


#How-It-Works {
  background: rgba(10,81,105,.05) 0 0 no-repeat padding-box;
}

#How-It-Works h1 {
  text-align: center;
  background-position: 50%;
  padding: 12%;
}

#How-It-Works .section_title_text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  /* background-image: url("/images/background.png"); */
}

#How-It-Works .data_points {
  padding-top: 2%;
}

#How-It-Works .no-gutters {
  margin-right: 0;
  margin-left: 0;
}

#How-It-Works .data_points .data_point_item .data_number {
  /* background-image: url("/images/data_points.png"); */
  background-repeat: no-repeat;
  text-align: left;
  background-position: bottom;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 167px;
  line-height: 87px;
  letter-spacing: 0;
  color: #0a5169;
  opacity: 1;
  min-height: 143px;
}

#How-It-Works .data_points .data_point_item .data_text {
  text-align: left;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -.14px;
  color: #000;
  opacity: 1;
}

#How-It-Works .data_points .data_point_item .data_text span{
  font-family: 'Raleway', sans-serif;;
}

#How-It-Works .data_points .data_point_item .data_text a {
  color: #000;
  font-family: 'Raleway', sans-serif;
}

#How-It-Works .try_now_btn {
  text-align: center;
  padding: 60px 0;
  font-family: 'Raleway', sans-serif;
}

#How-It-Works .try_now_btn .btn {
  height: 40px;
  width: 159px;
}

#How-It-Works .btn {
  background: #3ac280 0 0 no-repeat padding-box;
  border-color: #3ac280;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  color: #fff;
  opacity: 1;
  min-width: 159px;
}

#How-It-Works .btn:hover {
  color: #000;
}

@media (max-width: 1024px){
  #How-It-Works .data_points .data_point_item .data_number {
      font-size: 100px!important;
      line-height: 120px;
      background-size: 100%;
  }
}

@media (max-width: 768px){
    #How-It-Works .section_title_text {
    padding: 25% 7%;
    text-align: center;
    background-position: 50%;
    font-size: 28px;
    line-height: 32px;
    margin: 5% 0;
  }

  #How-It-Works .data_points .data_point_item .data_number {
    text-align: center;
    background-position: 55% 0;
  }

  #How-It-Works .data_points .data_point_item .data_text {
    text-align: center;
    margin-bottom: 15px;
  }
}

/* -------------------------------------------------- */







/* -------------------------------------------------- */

#Fee-Structure {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  color: rgb(10, 81, 105);
  padding-bottom: 20px;
}

#Fee-Structure h1 {
  text-align: center;
  background-position: 50%;
  padding: 12%;
}

#Fee-Structure .section_title_text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  /* background-image: url("/images/background.png"); */
}


.section_title_description {
	font-family: 'Raleway', sans-serif;
  	display: block;
  	letter-spacing: -.19px;
  	opacity: 1;
  	padding-top: 20px;
}

css-ulgnwk-WaterFall {
  max-width: 620px;
  margin: 0px auto;
  text-align: center;
  font-size: 14px;
  color: rgb(10, 81, 105);
}

.section_title_description {
font-family: 'Raleway', sans-serif;
  display: block;
  letter-spacing: -.19px;
  opacity: 1;
  padding-top: 20px;
}

.partial_fee_btn {
width: 195px;
height: 108px;
margin: 30px auto 15px;
padding: 25px 0;
text-align: center;
background: #0a5169;
border-radius: 10px;
position: relative;
}

.partial_fee_btn label {
font-size: 28px;
margin: 0;
font-weight: 400;
display: block;
color: #fff;
line-height: 28px;
}

.partial_fee_btn span {
font-size: 12px;
color: #fff;
font-weight: 400;
font-family: 'Raleway', sans-serif;
}

.partial_fee_btn .info_popup {
position: absolute;
right: 6%;
top: 5%;
font-size: 15px;
color: #fff;
font-style: normal;
border-radius: 50%;
border: 1px solid #fff;
width: 20px;
height: 20px;
line-height: 19px;
cursor: pointer;
}

.waterfall_info_text {
text-align: center;
color: rgb(10, 81, 105);
font-weight: 400;
}












/* -------------------------------------------------- */

#Example-Deliverables {
  background: rgba(10,81,105,.05) 0 0 no-repeat padding-box;
  overflow-x: hidden;
}

#Example-Deliverables h1 {
  text-align: center;
  background-position: 50%;
  padding: 12%;
}

#Example-Deliverables .section_title_text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  /* background-image: url("/images/background.png"); */
}

#Example-Deliverables .widget-title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000!important;
  font-size: 30px;
  font-weight: 400;
}

#Example-Deliverables h3 {
  margin-bottom: .5rem;
  font-weight: 300;
  line-height: 1.2;
}

#Example-Deliverables .deliver_widget_container {
  padding: 25px 25px 30px 18px;
}

#Example-Deliverables iframe {
  width: 102%;
  height: 480px;
}

#Example-Deliverables .deliver-slider {
  margin: 15px auto;
  width: 80%;
}




/* ------------------------------------------------------ */
